@import "tailwindcss";

@theme {
  --color-*: initial;

  /* Brand Colors */
  --color-brand-primary: #00afef;
  --color-brand-primary-hover: rgba(0, 0, 0, 0.1);

  /* Neutral Colors */
  --color-neutral-100: #fcfcfd;
  --color-neutral-200: #f2f4f7;
  --color-neutral-300: #eaecf0;
  --color-neutral-600: #667085;
  --color-neutral-700: #344054;
  --color-neutral-900: #0c111d;

  /* Text Colors */
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-700);
  --color-text-tertiary: var(--color-neutral-600);
  --color-text-inverted: var(--color-neutral-100);

  /* Background Colors */
  --color-bg-light: var(--color-neutral-100);
  --color-bg-default: var(--color-neutral-200);
  --color-bg-subtle: var(--color-neutral-300);
  --color-bg-inverse: var(--color-neutral-900);

  /* Border Colors */
  --color-border-default: var(--color-neutral-300);
  --color-border-subtle: var(--color-neutral-200);

  /* Interactive Colors */
  --color-interactive-cta: var(--color-brand-primary);
  --color-interactive-hover: var(--color-brand-primary-hover);

  /* Font Family */
  --font-sans: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
